{% extends "clientes/base.html" %}
{% load meus_filtros %}
{% block titulo %}
Cadastro de clientes
{% endblock titulo %}

{% block conteudo %}

            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.name.errors }}
                    <label>Nome: </label>
                    {{ form.nome|addclass:'form-control' }}
                </div>
                <div class="form-group">
                    {{ form.sexo.errors }}
                    <label>Sexo: </label>
                    {{ form.sexo|addclass:'form-control' }}
                </div>
                <div class="form-group">
                    {{ form.data_nascimento.errors }}
                    <label>Data de nascimento: </label>
                    {{ form.data_nascimento|addclass:'form-control' }}
                </div>
                <div class="form-group">
                    {{ form.email.errors }}
                    <label>Email: </label>
                    {{ form.email|addclass:'form-control' }}
                </div>
                <div class="form-group">
                    {{ form.profissao.errors }}
                    <label>Profissão: </label>
                    {{ form.profissao|addclass:'form-control' }}
                </div>
                <div>
                    <input CLASS="btn btn-success" type="submit" name="Cadastrar">
                    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Voltar</a>
                </div>
            </form>

{% endblock conteudo %}