{% extends "clientes/base.html" %}

{% block titulo %}
Lista de clientes
{% endblock titulo %}

{% block conteudo %}

            <table class="table" >
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Data de nascimento</th>
                    <th>Sexo</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for i in clientes %}
                <tr>
                    <td><a href="{% url 'listar_clientes_id' i.id %}">{{i.nome}}</a></td>
                    <td>{{i.data_nascimento | date:"d M Y"}}</td>
                    <td>{{i.sexo}}</td>
                    <td>
                        <a href="{% url 'editar_cliente' i.id %}"><button class="btn btn-info btn-sm">Editar</button></a>
                        <a href="{% url 'remover_cliente' i.id %}"><button class="btn btn-danger btn-sm">Remover</button></a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'cadastrar_cliente' %}"><button class="btn btn-success">Cadastrar</button></a>

{% endblock conteudo %}